@model IEnumerable<BarCrawlers.Models.BarViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@if (!Model.Any())
{
    <p>No bars yet.</p>
}
<div class="row">
    @foreach (var bar in Model)
    {
        @*@Html.Partial("_BarPartial");*@
        <partial name="_BarPartial" model="@bar" />
    }
</div>
