@model CocktailCreateViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   <!-- int counter = 0;-->
    
}

<h1>Create</h1>

<h4>Cocktail</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSrc" class="control-label"></label>
                <input asp-for="ImageSrc" class="form-control" />
                <span asp-validation-for="ImageSrc" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlcoholic" /> @Html.DisplayNameFor(model => model.IsAlcoholic)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <select asp-for="Ingredients" asp-items="ViewBag.Ingredients" class="form-control"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label for="exampleFormControlFile1">Image File:</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>*@

            

        <div id="CocktailIngredientsContainer">
            @Html.EditorFor(model => model.Ingredients)
        </div>

            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAdd" value="Add ingredient" />     @*onclick="@counter++" />*@ 
                </div>

            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Cocktails/Create.js" asp-append-version="true">
    </script>
}

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript">$("#btnAdd").on('click', function () {
                $.ajax({
                    async: true,
                    data: $('#form').serialize(),
                    type: "POST",
                    url: '/Cocktails/AddCocktailIngredient',
                    success: function (partialView) {
                        console.log("partialView: "+partialView);
                        $('#CocktailIngredientsContainer').html(partialView);
                    }
                });
            });</script>
    }*@
