/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: white;
}

.btn-primary {
    color: white;
    background-color: transparent;
    border-color: black;
}

.btn-primary:hover {
    color:black;
    background-color: chartreuse;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: chartreuse;
    border-color: black;
}

a > .nav-link btn btn-primary:hover {
    color:black;
}
.nav-pills .nav-link:hover {
    color: black;
    background-color: chartreuse;
}
.btn-link {
    color: white;
}
.btn-link:hover {
    color: chartreuse;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.ratings .fa-2x {
    color: #ff9800;
    /*background-color: gray;*/
    cursor: pointer;
    /*float:;*/
}

.rating-box {
    margin-bottom: 80px;
}

form{
    display:inline-block
}
